# VITE_API_URL=
VITE_HOST=
VITE_PORT=

    VITE_HOST=0.0.0.0
    VITE_PORT=0000
    VITE_PUBLIC_TOKEN=Token_auth
    VITE_PUBLIC_SOCKET_URL=0.0.0.0:0000
    JWT_SECRET=sua_chave_forte_para_jwt
    COOKIE_SECRET=sua_chave_forte_para_cookie